
page-accueil {

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

ion-grid{
    width:100%;
}

.colboutons{
    width:20%;
}

ion-input{
    color: red;    
}

.labels{
    font-size: 20px;
    font-weight: bold;
    margin:10px 10px 10px 10px;
    width: 20%;
}

.valeur{
   font-size: 20px;
    margin:10px 10px 10px 10px;
    color:primary;
}

.ion-card-normale:hover{
    background-color: #387ef5;
    box-shadow: #222 2px 2px 2px 0px;
}

.ion-card-normale:active{
    background-color: #387ef5;
    box-shadow: #f4f4f4 0 0 0 0;
}

.ion-card-selectionnee{
    background-color: #32db64;
}

 ion-card {
     cursor:pointer;
 }

}