<!--
  Generated template for the GestionLivre page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>gestion-livre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="droite">
    <ion-list *ngIf="allLivre.length>0" class="listeLivre">
      <ul>
        <li *ngFor="let livre of allLivre; let i = index">
          <b>{{livre.Titre_Livre}}</b><br/>{{livre.Nom_Auteur}} {{livre.Prenom_Auteur}} {{livre.Nom_Editeur}} {{livre.AnneeParution_Livre}} <button ion-button><ion-icon right name="trash" (click)="supprimeLivre(i)"></ion-icon></button>
        </li>
      </ul>
    </ion-list>
  </div>
  <div class="gauche">
    <ion-item>
      <ion-label floating>ISBN</ion-label>
      <ion-input type="number" [(ngModel)]="ISBN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Titre</ion-label>
      <ion-input type="text" [(ngModel)]="Titre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Auteur</ion-label>
      <ion-select [(ngModel)]="Auteur">
        <ion-option *ngFor="let auteur of tabAuteur" value={{auteur.ID_Auteur}}>{{auteur.Nom_Auteur}} {{auteur.Prenom_Auteur}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Année de parution</ion-label>
      <ion-input type="number" [(ngModel)]="Annee"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Prix</ion-label>
      <ion-input type="number" [(ngModel)]="Prix"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Editeur</ion-label>
      <ion-select [(ngModel)]="Editeur">
        <ion-option *ngFor="let editeur of tabEditeur" value={{editeur.ID_Editeur}}>{{editeur.Nom_Editeur}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button (click)="ajoutLivre(ISBN, Titre, Auteur, Annee, Prix, Editeur)">Ajouter le livre</button>
  </div>

</ion-content>
