page-depot-livre {
    .gauche {
        width:50%;
        float:left;
        background-color:darkgray;
    }

    .droite {
        width:50%;
        float:right;
        background-color:black;
    }

}
