page-depot-livre {
    .gauche {
        width:50%;
        float:left;
        
    }

    ion-list {
        border:1px solid black;
        min-height:30%;
    }

    .droite {
        width:50%;
        float:right;
    }

    ul {
        list-style-type: none;
    }

}
